* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

label {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 0.875rem;
}

td {
	overflow-x: hidden;
}

.Dashboard {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.PropertyPage, .ContractPage {
	display: flex;
	justify-content: center;
	flex-direction: row;

	section:not(:last-child) {
		margin-bottom: 1rem;

		button {
			margin-right: 1rem;
		}
	}

	.PageCards {
		display: flex;
		flex-direction: column;
	}

	.PageCards .PageCard {
		margin-bottom: 2rem;
	}
}

.PropertyList {
	width: 55rem;
	height: 60rem;
}

.CreatePropertyForm, .CreateContractForm, .CreateInvoiceForm {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	padding: 1rem;

	article {
		margin-bottom: 1rem;
		justify-content: center;
		display: flex;
		flex-direction: row;

		section {
			margin-right: 1rem;
		}

		button {
			margin-right: 1rem;
		}
	}
}

.ContractCreatorCard, .InvoiceCreatorCard, .PageCard {
	width: 55rem;

	.p-card-body {
		.p-card-content {
			section {
				display: flex;
				margin-top: 1.5rem;
				flex-wrap: wrap;

				.p-float-label {
					margin-right: 1rem;
					margin-bottom: 1rem;
				}

				textarea {
					width: 100%;
					margin-bottom: 1rem;
				}
			}

			.p-card-subtitle:not(:first-child) {
				margin-top: 1rem;
			}
		}
	}
}
